
* {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  font-weight: 300 !important
}

.body-wrap{
	background-color: #333 !important;
	color: #fff;
	background: url('../images/skyline.jpg') no-repeat center center fixed !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.bg-overlay{
	background-color: #333;
	opacity: .8;
	width: 100%;
	height: 100%;
	position: absolute;
}

div.landing{
	position: absolute;
	width: 90%;
	height: 200px;
	top: calc(50% - 150px);
}

div.landing *{
	text-align: center;
}

div.landing h6{
  -webkit-animation-delay: 0.5s;
}

div.landing button{
  -webkit-animation-delay: 1s;
}

div.universe{
	width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

div.sideMenu{
	width: 60%;
    height: 100%;
    position: absolute;
    background-color: #37474F;
}

div.sideMenu div.user{
    background-color: #263238;
    padding: 15px 10px;
    font-weight: 400 !important;
}

div.sideMenu li{
	padding: 15px;
}

div.sideMenu a, div.sideMenu a:active, div.sideMenu a:visited{
	color: #9EAEB1;
}

div.page{
	box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F5F5F5;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    overflow-y:auto;
    color: #757575;
}

div.page header{
    background-color: #FFF;
    color: #263238;
    width: 100%;
    height: 60px;
    vertical-align: center;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
div.page header h4{
	margin: 0;
	padding-top: 15px;
    font-size: 20pt;
	text-align: center;
}

div.sandwich {
    position: absolute;
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin:18px;
}

div.sandwich span {
    width: 100%;
    height: 1px;
    background-color: #333;
    display: block;
    margin-bottom: 30%;
}

div.menu-open {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

div#map{
    width: 100% !important;
    height: 50% !important;
}
div#map *{
    color: #000;
}

div.underMap{
    position: absolute;
    top: 60%;
}

div.scrollZone{
    overflow-y:auto;
    max-height: calc(100% - 50px);
}

div.card{
    height: 450px;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

div.card .image{
    background: #eee no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 60%;
}

div.card .desc{
    padding: 20px;
    border-bottom:1px solid #ccc;
}

div.card .circleButton-red {
    height: 60px;
    width: 60px;
    background-color: #E6423B;
    background-image: url("../images/delete.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 100%;
    float: left;
    margin: 20px 20px 20px calc(50% - 100px);
}

div.card .circleButton-green {
    height: 60px;
    width: 60px;
    background-color: #90EE90;
    background-image: url("../images/checkmark.png");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 100%;
    float: left;
    margin: 20px;
}

/* bootstrap overhide*/

.btn-primary{
	background-color: #fff !important;
	color: #757575 !important;
	border-color: #eee !important;
}