


.card {

  min-height: 200px;
  background-position: 90% 100%;
  background-repeat: no-repeat;

}


.circleButton-red {
	height: 60px;
	width: 60px;
	background-color: red;
	background-image: url("images/delete.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 100%;
	float: left;
	margin: 2% 8%;
}

.circleButton-green {
	height: 60px;
	width: 60px;
	background-color: lightgreen;
	background-image: url("images/checkmark.png");
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 100%;
	float: left;
	margin: 2% 8%;
}


