<br/>
<div class="form-group">
	<label for="exampleInputEmail1">Estado</label>
	<select class="form-control" disabled>
	  <option>SP</option>
	</select>
</div>

<div class="form-group">
	<label for="exampleInputEmail1">Cidade</label>
	<select class="form-control" disabled>
	  <option>S&atilde;o Paulo</option>
	</select>
</div>

<div class="form-group">
	<label>Bairro</label>
	<select class="form-control" ng-model="user.house.neighborhood">
	  <option>Morumbi</option>
	  <option>Paulista</option>
	  <option>Butanta</option>
	  <option>Tucuruvi</option>
	  <option>Santana</option>
	</select>
</div>

<br/>
